 body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      font-family: Arial, sans-serif;
    }
    #content {
      display: flex;
      align-items: flex-start;
      max-width: 100%;
    }
    #description {
      max-width: 50%;
      text-align: left;
      margin-left: 20px;
    }
    #canvas-container {
      display: flex;
      justify-content: center;
      max-width: 50%;
    }
 @font-face {
    font-family: 'Computer Modern';
    src: url('cmu.serif-roman.ttf') format('ttf'),
         url('cmu.serif-roman.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
  }

  body {
    font-family: 'Computer Modern', serif;
  }
